@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img {
  /* background-image: url(./RRR-8.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image:
    linear-gradient(180deg, rgba(5, 21, 44, 0) 0%, #22334b 79.17%), url('./569711.png'); */


  text-align: center;
  color: #fff;
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;

}

input {
  border-radius: 30px 0px 0px 30px;
  /* width: calc(100% - 100px); */
  height: 60px;
  background-color: #fff;
  outline: 0;
  border: 0;
  border-radius: 30px 0px 0px 30px;
  padding: 0 15px;
  font-size: 15px;

}

/* button {
  
  background: linear-gradient(90deg, blue, red);
  color: #fff;
  outline: 0;
  border: 0;
  
  font-size: 16px;
  cursor: pointer;

} */

.btn-grad {
  /* width: 100px; */
  height: 60px;
  background-image: linear-gradient(to right, #000046 0%, #1CB5E0 51%, #000046 100%);
  /* margin: 10px; */
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 0px 30px 30px 0px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}